@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.font {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 14px;
}
.font-2 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  background: #005EB8;
  color: #FFFFFF;
border-radius: 3px 3px 0px 0px;

}
.font-3 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
}