.footer{
    position: absolute;
    margin-top: 15px;
    height: 26px;
    background: #005EB8;
}
.label-1{
    margin-left: 50px;
    margin-right: 12px;
    color: white;
}
.label-2{
    margin-left: 22cm;
    color: white;
}